@import "../../../../styles/variables.scss";

.this__day_info {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 10px;
    flex: 1 1 auto;
    background-color: var(#{--components-background-default});
    img {
        position: absolute;
        top: 0;
        right: -100px;
        z-index: 0;
    }
}

.this__day_info_items {
    padding-left: 32px;
    gap: 55px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item > *:not(:first-child) {
    margin-left: 37px;
}

.indicator {
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
    border-radius: 50%;
    align-items: center;
    background-color: #fff;
    svg {
        width: 38px;
        height: 38px;
    }
}

.indicator_name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: $light-grey-color;
}

.indicator_value {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(#{--text-color-default});
}
